.coverImgTbl .coverImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

@font-face {
  font-family: Futura;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/futura/futura.eot");
  src: url("/fonts/futura/futura.eot?#iefix") format("embedded-opentype"), url("/fonts/futura/futura.woff") format("woff"), url("/fonts/futura/futura.ttf") format("truetype"), url("/fonts/futura/futura.svg#Futura") format("svg"); }
html {
  overflow-y: scroll; }

.left-side {
  z-index: 2; }

.right-side .right-side {
  margin: 0; }

.navTabs,
.addInnerPage {
  margin-bottom: 20px; }

.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th {
  background-color: #d9edf7; }

.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {
  background-color: #f2dede; }

.coverImgTbl .coverImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.coverImgTbl > tbody > tr > td {
  vertical-align: middle; }
.coverImgTbl .coverImage {
  height: 70px;
  width: 70px;
  display: inline-block; }

.coverImgTbl .coverImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.taleBtnWrap {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #f5ebd9;
  display: inline-block;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial;
  line-height: 110%; }
  .taleBtnWrap.big {
    border-radius: 10px;
    padding: 9px;
    font-weight: bold;
    font-size: 20px; }
  .taleBtnWrap.medium {
    border-radius: 10px;
    padding: 4px 8px; }
  .taleBtnWrap.small {
    padding: 4px;
    border-radius: 4px; }
  .taleBtnWrap.orange {
    background: #f59b06; }
  .taleBtnWrap.red {
    background: #df4a08; }

.taleBtn {
  position: relative;
  border-radius: 7px;
  background: #fff;
  display: block;
  float: left;
  cursor: pointer;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.3);
  text-align: center; }
  .taleBtn.big {
    width: 49px;
    height: 49px;
    margin-right: 5px; }
    .taleBtn.big:last-of-type {
      margin-right: 0; }
  .taleBtn.small {
    width: 21px;
    height: 19px;
    margin-bottom: 2px;
    border-radius: 3px; }
  .taleBtn:active {
    box-shadow: none; }
  .taleBtn.orange {
    color: #fff;
    background: #f59b06; }
  .taleBtn.red {
    color: #fff;
    background: #df4a08; }

.coverImgTbl .coverImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.taleForm .right-side {
  overflow-y: hidden;
  overflow-x: visible;
  min-height: 820px;
  position: relative;
  margin-left: 0;
  min-height: 650px; }

.taleContainer {
  min-width: 1604px;
  min-height: 820px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden; }
  .taleContainer.small {
    width: 100%;
    min-width: 1225px;
    min-height: 650px; }

.taleTitle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #f59b06;
  width: 346px;
  display: table;
  height: 102px;
  position: absolute;
  left: 439px;
  top: 3px;
  z-index: 1;
  text-align: center;
  font-family: Futura;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 5px;
  text-shadow: 1px 2px 0 #bb6920; }
  .taleTitle .innerTitle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 13px 0 21px;
    line-height: 90%; }
  .taleTitle:after {
    content: '';
    position: absolute;
    background-image: url("/img/titleBg.png");
    width: 381px;
    height: 138px;
    left: -16px;
    top: -14px;
    z-index: -1; }
  .taleTitle .small {
    font-size: 19px; }

.taleZone {
  position: absolute;
  top: 20px;
  left: 190px;
  width: 1224px;
  height: 650px; }
  .taleZone:before, .taleZone:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    z-index: 1;
    background: #000; }
  .taleZone:after {
    left: auto;
    right: 0; }
  .taleZone .border {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    height: 1px;
    background: #000; }
    .taleZone .border.top {
      top: 0; }
    .taleZone .border.btm {
      bottom: 0; }
  .taleZone .setDecorations {
    position: absolute;
    top: 36px;
    left: 39px;
    padding: 6px 7px; }
    .taleZone .setDecorations .taleBtn {
      box-shadow: none;
      height: 37px;
      width: 37px; }
      .taleZone .setDecorations .taleBtn:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 37px;
        width: 37px; }
      .taleZone .setDecorations .taleBtn.orange:after {
        background: url("/img/sun.png"); }
      .taleZone .setDecorations .taleBtn.red:after {
        background: url("/img/moon.png"); }
  .taleZone .next {
    position: absolute;
    right: 13px;
    bottom: 18px;
    padding: 8px 12px 12px 11px;
    height: 75px;
    text-shadow: -1px -1px 0 #b73e09; }
    .taleZone .next .taleBtn {
      height: 58px;
      width: 172px;
      padding: 16px; }
      .taleZone .next .taleBtn:after {
        content: '';
        position: absolute;
        top: 17px;
        right: 8px;
        height: 25px;
        width: 27px;
        background: url("/img/nextInSlide.png"); }
  .taleZone .framePosWrap {
    position: absolute;
    width: 424px;
    height: 153px;
    bottom: 21px;
    left: 400px; }
    .taleZone .framePosWrap:after {
      content: '';
      position: absolute;
      left: -14px;
      top: -13px;
      z-index: 1;
      width: 451px;
      height: 180px;
      background-image: url("/img/spread.png"); }
    .taleZone .framePosWrap .miniBg {
      position: absolute;
      top: 12px;
      left: 21px;
      z-index: 2;
      width: 382px;
      height: 124px; }
      .taleZone .framePosWrap .miniBg .miniLimit {
        position: absolute;
        top: 0;
        left: 33px;
        height: 100%;
        width: 316px; }
    .taleZone .framePosWrap .miniFrame {
      position: absolute;
      top: 0;
      height: 124px;
      width: 154px;
      margin-left: -13px;
      border-radius: 10px;
      border: 31px solid #f59b06;
      border-left: 13px solid #f59b06;
      border-right: 13px solid #f59b06;
      box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 0.3);
      cursor: move; }

.chooseMusic {
  position: absolute;
  bottom: 34px;
  left: 14px; }
  .chooseMusic.taleBtnWrap {
    padding: 7px 5px;
    border-radius: 7px; }
  .chooseMusic .taleBtn {
    padding: 4px 8px;
    margin-bottom: 2px;
    width: 168px; }
    .chooseMusic .taleBtn:after {
      content: '';
      position: absolute;
      top: 8px;
      left: 135px;
      height: 21px;
      width: 26px;
      background: url("/img/sound.png"); }
  .chooseMusic .musicLabel {
    height: 26px;
    width: 122px;
    box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.3);
    padding: 1px 0;
    background: #fff;
    font-size: 14px;
    color: #f59b06;
    text-shadow: 1px 1px 0 #c58730;
    display: block;
    border-radius: 4px;
    overflow: hidden; }
  .chooseMusic .trackList {
    position: absolute;
    bottom: 50px;
    left: 14px;
    background: #f5ebd9;
    width: 121px;
    padding: 5px 10px 0;
    border-radius: 3px 3px 0 0;
    font-size: 12px; }
    .chooseMusic .trackList:before, .chooseMusic .trackList.taleZone:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      border-radius: 3px 3px 0 0;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1); }
    .chooseMusic .trackList:after {
      content: '';
      position: absolute;
      right: -5px;
      bottom: -7px;
      left: -5px;
      height: 7px;
      background: #f5ebd9; }
    .chooseMusic .trackList .trackItem {
      cursor: pointer;
      margin-bottom: 5px; }

.closeFrame, .question {
  position: absolute;
  top: 9px;
  right: 8px;
  z-index: 1; }
  .closeFrame .taleBtn, .question .taleBtn {
    box-shadow: none; }
    .closeFrame .taleBtn:after, .question .taleBtn:after {
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      height: 22px;
      width: 22px;
      background: url("/img/close.png"); }

.question {
  right: 44px; }
  .question .taleBtn:after {
    background: url("/img/question.png"); }

.frameBg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  width: 3705px;
  height: 1200px;
  top: -275px; }
  .frameBg img {
    position: absolute;
    top: 0;
    left: 0; }
    .frameBg img.fg {
      z-index: 4; }
    .frameBg img.plan {
      z-index: 2; }
    .frameBg img.bg {
      z-index: 0; }

.taleIn {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none; }
  .taleIn.active {
    display: block; }

.coverImgTbl .coverImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.leftPanel {
  position: absolute;
  top: 140px;
  left: -176px;
  height: 340px;
  width: 164px;
  z-index: 1;
  text-shadow: -1px -1px 0 #c58730; }
  .small .leftPanel {
    left: 18px; }
  .leftPanel .taleBtnWrap {
    display: block;
    margin-bottom: 9px;
    border-radius: 6px; }
    .leftPanel .taleBtnWrap .taleBtn {
      padding: 5px 4px 5px;
      float: none;
      margin-bottom: 1px;
      font-weight: bold;
      font-size: 17px; }
      .leftPanel .taleBtnWrap .taleBtn:after {
        content: "";
        display: table;
        clear: both; }
      .leftPanel .taleBtnWrap .taleBtn .title {
        margin-bottom: 8px;
        position: relative; }
  .leftPanel .hero {
    display: block;
    float: left;
    width: 62px;
    height: 62px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    margin: 0 4px 5px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.3); }

.authorText {
  position: absolute;
  top: 110px;
  left: 236px;
  width: 752px;
  height: 86px;
  display: none;
  z-index: 1; }
  .authorText:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -17px;
    z-index: -1;
    height: 117px;
    width: 787px;
    background: url("/img/authorText.png"); }
  .authorText.active {
    display: block; }
  .authorText textarea {
    font-family: Arial;
    width: 100%;
    height: 100%;
    border: none;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    overflow: hidden;
    outline: none;
    box-shadow: none;
    resize: none;
    background: none; }

.taleZone .displayFrame .chooseMusic {
  bottom: -95px;
  left: -176px;
  z-index: 1; }
  .small .taleZone .displayFrame .chooseMusic {
    bottom: 35px;
    left: 14px; }

.btmPanel {
  position: absolute;
  bottom: -119px;
  left: 326px;
  z-index: 1; }
  .small .btmPanel {
    bottom: 4px; }
  .btmPanel .taleBtnWrap {
    border-radius: 7px;
    padding: 7px 22px; }
  .btmPanel .taleBtn {
    border-radius: 5px;
    padding: 7px 8px 5px; }
  .btmPanel .item {
    float: left; }
  .btmPanel .frame {
    position: relative;
    display: block;
    float: left;
    height: 65px;
    width: 83px;
    margin: 0 5px 0 0;
    padding: 21px 0;
    background: #f4ecd9;
    color: #333;
    box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    font-size: 14px; }
    .btmPanel .frame.addFrame {
      margin: 0; }
    .btmPanel .frame .plus {
      position: absolute;
      top: 13px;
      left: 24px;
      height: 39px;
      width: 39px;
      background: url("/img/addSlide.png"); }
  .btmPanel .arrow {
    position: absolute;
    top: 25px;
    height: 29px;
    width: 15px;
    cursor: pointer; }
    .btmPanel .arrow.btm {
      right: -19px;
      background: url("/img/nextFrame.png"); }
    .btmPanel .arrow.top {
      left: -19px;
      background: url("/img/prevFrame.png"); }

.rightPanel {
  position: absolute;
  top: 453;
  right: -179px;
  z-index: 1;
  width: 156px; }
  .small .rightPanel {
    right: 16px;
    top: 357px; }
  .rightPanel .taleBtnWrap {
    display: block;
    margin: 0 0 9px;
    font-size: 19px; }
    .rightPanel .taleBtnWrap .taleBtn {
      height: 56px;
      width: 133px;
      margin: 0 0 1px 1px;
      float: none;
      padding: 10px 0 0; }
      .rightPanel .taleBtnWrap .taleBtn.preview {
        text-shadow: -1px -1px 0 #c28f58;
        color: #f59b06; }
      .rightPanel .taleBtnWrap .taleBtn.removeSlide {
        color: #df4a08;
        text-shadow: -1px -1px 0 #bb3d0a; }

.endTale.taleBtnWrap {
  position: absolute;
  bottom: -88px;
  right: -178px;
  z-index: 1;
  padding: 9px 13px 9px 9px; }
  .small .endTale.taleBtnWrap {
    bottom: 34px;
    right: 15px; }
  .endTale.taleBtnWrap .taleBtn {
    height: 57px;
    width: 172px;
    border-radius: 10px;
    margin: 0 0 0 1px;
    font-size: 22px;
    padding: 6px 15px;
    text-shadow: -1px -1px 0 #bb3e04; }

.dragableHeroes {
  position: absolute;
  z-index: 5; }

.heroInDrag {
  cursor: move;
  position: absolute; }
  .heroInDrag:hover .name {
    display: block; }
  .displayFrame .heroInDrag.secondPlan .name {
    margin-left: -55px; }
    .displayFrame .heroInDrag.secondPlan .name input {
      font-family: Arial;
      width: 110px; }
  .heroInDrag .name {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -84px;
    display: none; }
    .heroInDrag .name input {
      width: 168px;
      height: 38px;
      border: none;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      padding: 3px 10px;
      outline: none;
      overflow: auto;
      text-align: center; }
  .heroInDrag .replica {
    position: absolute;
    top: -70px;
    right: -216px; }
    .heroInDrag .replica.dragged {
      position: absolute;
      top: auto;
      right: auto; }
    .heroInDrag .replica:before, .heroInDrag .replica.taleZone:after {
      content: '';
      z-index: -1;
      height: 57px;
      width: 67px; }
    .heroInDrag .replica.RT:before, .heroInDrag .replica.RT.taleZone:after {
      position: absolute;
      bottom: -45px;
      left: -3px;
      background: url("/img/bubleTailRT.png"); }
    .heroInDrag .replica.LT:before, .heroInDrag .replica.LT.taleZone:after {
      position: absolute;
      right: -3px;
      bottom: -45px;
      background: url("/img/bubleTailLT.png"); }
    .heroInDrag .replica.RB:before, .heroInDrag .replica.RB.taleZone:after {
      position: absolute;
      top: -50px;
      left: -3px;
      background: url("/img/bubleTailRB.png"); }
    .heroInDrag .replica.LB:before, .heroInDrag .replica.LB.taleZone:after {
      position: absolute;
      top: -50px;
      right: -3px;
      background: url("/img/bubleTailLB.png"); }
    .heroInDrag .replica:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -2;
      border-radius: 52px;
      box-shadow: 0px 0px 12px 13px rgba(0, 0, 0, 0.15); }
    .heroInDrag .replica textarea {
      height: 80px;
      width: 216px;
      font-family: Arial;
      padding: 20px;
      display: block;
      background: #f4ecd9;
      border-radius: 53px;
      overflow: hidden;
      text-align: center;
      font-size: 14px;
      outline: none;
      border: none;
      resize: none; }
  .heroInDrag .removeHero, .heroInDrag .replicaBtn.remove {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 30px;
    width: 30px;
    background-color: #f4ecd9;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer; }
    .heroInDrag .removeHero:after, .heroInDrag .replicaBtn.remove:after {
      content: '';
      position: absolute;
      top: 7px;
      left: 8px;
      height: 14px;
      width: 15px;
      background: url("/img/smallX.jpg"); }
  .heroInDrag .replicaBtn {
    cursor: pointer; }
    .heroInDrag .replicaBtn.add {
      position: absolute;
      top: 0;
      right: 0;
      height: 30px;
      width: 30px;
      background: #f4ecd9;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      z-index: 2; }
      .heroInDrag .replicaBtn.add:after {
        content: '';
        position: absolute;
        top: 7px;
        left: 4px;
        height: 18px;
        width: 23px;
        background: url("/img/addBubble.png"); }
    .heroInDrag .replicaBtn.remove {
      left: auto;
      right: -15px; }

.heroImg {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute; }

.firstPlan {
  position: absolute;
  z-index: 3;
  height: 240px;
  width: 190px; }

.secondPlan {
  position: absolute;
  z-index: 1;
  height: 150px;
  width: 120px; }

.coverImgTbl .coverImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.taleZone .chooseCover {
  position: absolute;
  top: 130px;
  left: 83px; }
  .taleZone .chooseCover .taleBtnWrap {
    padding: 30px 8px;
    border-radius: 15px; }
  .taleZone .chooseCover .taleBtn {
    padding: 11px 13px 6px;
    border-radius: 13px;
    margin: 0 2px 2px 0; }
    .taleZone .chooseCover .taleBtn:active {
      box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.3); }
  .taleZone .chooseCover .coverImage {
    width: 62px;
    height: 62px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    background-size: contain;
    background-position: center center;
    background-color: #fff;
    background-repeat: no-repeat; }
  .taleZone .chooseCover .chooseColor {
    position: absolute;
    top: 25px;
    left: 103px;
    border-radius: 0 15px 15px 0;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
    width: 74px;
    padding: 37px 8px 34px; }
    .taleZone .chooseCover .chooseColor:before, .taleZone .chooseCover .chooseColor.taleZone:after {
      content: "";
      position: absolute;
      top: -7px;
      bottom: -7px;
      left: -6px;
      width: 9px;
      background: #f5ebd9; }
    .taleZone .chooseCover .chooseColor .arrow {
      left: 19px; }
      .taleZone .chooseCover .chooseColor .arrow.top {
        top: 12px;
        background-image: url("/img/colorTop.jpg"); }
      .taleZone .chooseCover .chooseColor .arrow.btm {
        bottom: 11px;
        background-image: url("/img/colorBtm.jpg"); }
  .taleZone .chooseCover .coverColor {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 4px; }
  .taleZone .chooseCover .arrow {
    position: absolute;
    width: 27px;
    height: 15px;
    left: 28px;
    cursor: pointer; }
    .taleZone .chooseCover .arrow.top {
      top: -23px;
      background-image: url("/img/imgTop.jpg"); }
    .taleZone .chooseCover .arrow.btm {
      background-image: url("/img/imgBtm.jpg");
      bottom: -23px; }
.taleZone .taleCover {
  position: absolute;
  width: 565px;
  height: 325px;
  left: 331px;
  top: 114px;
  border-radius: 20px; }
  .taleZone .taleCover .coverPreview {
    position: absolute;
    width: 516px;
    height: 274px;
    left: 23px;
    top: 25px;
    background-color: #fff;
    box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.3);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat; }
.taleZone .taleName {
  position: absolute;
  top: 452px;
  left: 440px; }
  .taleZone .taleName .taleBtn {
    padding: 6px 11px;
    margin: 0 2px 2px 0; }
  .taleZone .taleName input {
    border: none;
    height: 34px;
    width: 306px;
    margin-bottom: 1px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.3);
    outline: none;
    padding: 3px 10px;
    text-align: center;
    font-size: 16px; }
.taleZone .prev {
  position: absolute;
  right: 221px;
  bottom: 18px;
  padding: 8px 11px 11px 9px; }
  .taleZone .prev .taleBtn {
    height: 56px;
    width: 174px;
    padding: 18px 0 0  32px;
    letter-spacing: 0px;
    text-shadow: -1px -1px 0 #ba8947; }
    .taleZone .prev .taleBtn:after {
      content: '';
      position: absolute;
      top: 16px;
      left: 6px;
      height: 26px;
      width: 26px;
      background: url("/img/backArrow.png"); }

.taleZone .next.end .taleBtn:after {
  background: none; }

.coverName {
  position: absolute;
  font-family: Futura;
  font-size: 32px;
  text-shadow: 1px 2px 0 #bb6920;
  color: #f59b06;
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  cursor: move; }

#cover {
  display: none; }

.coverImgTbl .coverImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.taleZone.previewBlock:before, .taleZone.previewBlock:after {
  display: none; }
.taleZone.previewBlock:after {
  display: none; }
.taleZone.previewBlock .frameBg {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
.taleZone.previewBlock .topBlock {
  position: absolute;
  z-index: 5; }
  .taleZone.previewBlock .topBlock .heroInDrag {
    cursor: default; }
  .taleZone.previewBlock .topBlock .firstPlan .replica {
    bottom: 370px;
    right: -140px; }
    .taleZone.previewBlock .topBlock .firstPlan .replica.dragged {
      bottom: auto;
      right: auto; }
  .taleZone.previewBlock .topBlock .secondPlan .replica {
    bottom: 250px;
    right: -180px; }
    .taleZone.previewBlock .topBlock .secondPlan .replica.dragged {
      bottom: auto;
      right: auto; }
  .taleZone.previewBlock .topBlock .replica {
    position: absolute;
    width: 220px;
    text-align: center;
    font-size: 16px; }
    .taleZone.previewBlock .topBlock .replica:after {
      display: none; }
    .taleZone.previewBlock .topBlock .replica.dragged {
      position: absolute;
      top: auto;
      right: auto; }
  .taleZone.previewBlock .topBlock .replicaInner {
    font-family: Arial;
    width: 220px;
    padding: 20px;
    background: #f4ecd9;
    border-radius: 52px; }
    .taleZone.previewBlock .topBlock .replicaInner:before, .taleZone.previewBlock .topBlock .replicaInner.taleZone:after {
      content: '';
      z-index: -1;
      height: 57px;
      width: 67px; }
    .taleZone.previewBlock .topBlock .replicaInner.RT:before, .taleZone.previewBlock .topBlock .replicaInner.RT.taleZone:after {
      position: absolute;
      bottom: -45px;
      left: -3px;
      background: url("/img/bubleTailRT.png"); }
    .taleZone.previewBlock .topBlock .replicaInner.LT:before, .taleZone.previewBlock .topBlock .replicaInner.LT.taleZone:after {
      position: absolute;
      right: -3px;
      bottom: -45px;
      background: url("/img/bubleTailLT.png"); }
    .taleZone.previewBlock .topBlock .replicaInner.RB:before, .taleZone.previewBlock .topBlock .replicaInner.RB.taleZone:after {
      position: absolute;
      top: -50px;
      left: -3px;
      background: url("/img/bubleTailRB.png"); }
    .taleZone.previewBlock .topBlock .replicaInner.LB:before, .taleZone.previewBlock .topBlock .replicaInner.LB.taleZone:after {
      position: absolute;
      top: -50px;
      right: -3px;
      background: url("/img/bubleTailLB.png"); }
    .taleZone.previewBlock .topBlock .replicaInner:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -2;
      border-radius: 52px;
      box-shadow: 0px 0px 12px 13px rgba(0, 0, 0, 0.15); }
  .taleZone.previewBlock .topBlock .heroImg:hover + .name {
    opacity: 1; }
  .taleZone.previewBlock .topBlock .name {
    bottom: -45px;
    width: 168px;
    height: 38px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 11px 0;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    background: #fff;
    opacity: 0;
    font-family: Arial; }
.taleZone.previewBlock .authorText.active {
  display: table; }
  .taleZone.previewBlock .authorText.active .authorInner {
    font-family: Arial;
    display: table-cell;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle; }
.taleZone.previewBlock .soundBtnWrap {
  position: absolute;
  bottom: 34px;
  left: 28px;
  height: 49px;
  width: 49px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: #fff; }
  .taleZone.previewBlock .soundBtnWrap .soundBtn {
    position: absolute;
    top: 6px;
    left: 6px;
    height: 37px;
    width: 36px;
    background-image: url("/img/soundOn.jpg"); }
    .taleZone.previewBlock .soundBtnWrap .soundBtn.muted {
      background-image: url("/img/soundOff.jpg"); }
.taleZone.previewBlock .sharing {
  position: absolute;
  right: -3px;
  bottom: -11px;
  height: 69px;
  width: 195px;
  padding: 15px 23px 23px 18px;
  line-height: 170%;
  background: url("/img/playerShareBg.png");
  text-align: justify; }
  .taleZone.previewBlock .sharing:after {
    content: '';
    display: inline-block;
    width: 100%; }
  .taleZone.previewBlock .sharing .shareLabel {
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    color: #82440d;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 3px; }
  .taleZone.previewBlock .sharing .share {
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    background: url("/img/playerShareNw.png");
    cursor: pointer; }
    .taleZone.previewBlock .sharing .share.fb {
      width: 18px;
      background-position: 0 0; }
    .taleZone.previewBlock .sharing .share.ok {
      height: 21px;
      width: 21px;
      background: none; }
    .taleZone.previewBlock .sharing .share.vk {
      width: 17px;
      background-position: -52px 0; }
.taleZone.previewBlock .frameControl {
  position: absolute;
  bottom: -16px;
  left: 484px;
  height: 142px;
  width: 248px; }
  .taleZone.previewBlock .frameControl .prevFrame, .taleZone.previewBlock .frameControl .nextFrame {
    position: absolute;
    top: 45px;
    left: 23px;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    cursor: pointer;
    background: #f4ecd9; }
    .taleZone.previewBlock .frameControl .prevFrame:after, .taleZone.previewBlock .frameControl .nextFrame:after {
      content: '';
      height: 26px;
      width: 32px;
      position: absolute;
      top: 11px;
      left: 5px;
      background: url("/img/playP.png"); }
  .taleZone.previewBlock .frameControl .nextFrame {
    position: absolute;
    right: 15px;
    left: auto; }
    .taleZone.previewBlock .frameControl .nextFrame:after {
      position: absolute;
      top: 10px;
      left: 4px;
      height: 26px;
      width: 33px;
      background: url("/img/playN.png"); }
  .taleZone.previewBlock .frameControl .playFrame {
    position: absolute;
    top: 15px;
    left: 75px;
    height: 106px;
    width: 106px;
    z-index: 1;
    cursor: pointer;
    background: #df4a08;
    border: 13px solid #f5ebd9;
    border-radius: 50%;
    box-shadow: inset -1px -2px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 5px 5px rgba(0, 0, 0, 0.1); }
    .taleZone.previewBlock .frameControl .playFrame:after {
      content: '';
      position: absolute;
      top: 19px;
      left: 27px;
      height: 42px;
      width: 40px;
      background: url("/img/play.png"); }
    .taleZone.previewBlock .frameControl .playFrame.pause:after {
      position: absolute;
      top: 23px;
      left: 23px;
      height: 34px;
      width: 34px;
      background: url("/img/pause.png"); }
.taleZone.previewBlock .trackWrap {
  display: none; }
.taleZone.previewBlock .likeBox {
  position: absolute;
  top: 208px;
  left: 380px;
  height: 206px;
  width: 471px;
  z-index: 2;
  padding: 43px 58px;
  font-family: Arial;
  font-size: 18px;
  background: url("/img/likeBg.png"); }
  .taleZone.previewBlock .likeBox .likeBtns {
    text-align: center;
    margin: 27px 0 0 -35px;
    padding: 0 5px 0 0;
    width: 429px; }
    .taleZone.previewBlock .likeBox .likeBtns:after {
      content: '';
      display: inline-block;
      width: 100%; }
  .taleZone.previewBlock .likeBox .likeBtn {
    margin: 5px 0;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer; }
    .taleZone.previewBlock .likeBox .likeBtn.fb {
      height: 31px;
      width: 73px;
      background: url("/img/fbLike.png"); }
    .taleZone.previewBlock .likeBox .likeBtn.ok {
      height: 28px;
      width: 90px;
      background: url("/img/okLike.png"); }
    .taleZone.previewBlock .likeBox .likeBtn.vk {
      height: 28px;
      width: 121px;
      background: url("/img/vkLike.png"); }

.coverImgTbl .coverImage {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.popUpWrap {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000; }
  .popUpWrap strong {
    font-size: 16px;
    margin-bottom: 8px;
    display: inline-block; }
    .popUpWrap strong.orange {
      color: #f59b06; }
    .popUpWrap strong.red {
      color: #df4a08; }
  .popUpWrap.visible {
    display: block; }
  .popUpWrap:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
    z-index: -1; }
  .popUpWrap .popUp {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    height: 206px;
    width: 393px;
    margin: -103px 0 0 -186px;
    padding: 30px;
    background: url("/img/popupBg.png"); }
    .popUpWrap .popUp.largeText .msg {
      padding: 0;
      font-size: 14px; }
    .popUpWrap .popUp.largeText .btnWrap {
      top: 133px; }
    .popUpWrap .popUp .close {
      position: absolute;
      top: 17px;
      right: -14px;
      height: 30px;
      width: 30px;
      background-color: #f4ecd9;
      border-radius: 6px;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
      z-index: 2;
      cursor: pointer;
      opacity: 1; }
      .popUpWrap .popUp .close:after {
        content: '';
        position: absolute;
        top: 7px;
        left: 8px;
        height: 14px;
        width: 15px;
        background: url("/img/smallX.jpg"); }
    .popUpWrap .popUp .msg {
      font-size: 15px;
      text-align: center;
      padding: 20px 0 0;
      font-family: Arial; }
    .popUpWrap .popUp .btnWrap {
      position: absolute;
      top: 120px;
      left: 0;
      width: 100%;
      text-align: center; }
    .popUpWrap .popUp .taleBtn {
      height: 38px;
      width: 116px;
      padding: 11px 0 0;
      margin: 0 18px 0 18px;
      display: inline-block;
      float: none;
      font-family: Futura;
      letter-spacing: 1px;
      line-heigth: 100%;
      text-transform: uppercase;
      font-size: 18px; }

.popUpInfo {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  display: none; }
  .popUpInfo.visible {
    display: table; }
  .popUpInfo .popUpBody {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  .popUpInfo .content {
    position: relative;
    background: white;
    margin: 20px auto;
    max-width: 70%;
    height: 0;
    padding-top: 40%; }
  .popUpInfo .popUpTitle {
    position: absolute;
    top: -35px;
    left: 0;
    width: 100%;
    font-family: Futura;
    font-size: 32px;
    color: #fff; }
  .popUpInfo iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0; }
  .popUpInfo .close {
    position: absolute;
    top: 0;
    right: -40px;
    height: 30px;
    width: 30px;
    background-color: #f4ecd9;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
    cursor: pointer;
    opacity: 1; }
    .popUpInfo .close:after {
      content: '';
      position: absolute;
      top: 7px;
      left: 8px;
      height: 14px;
      width: 15px;
      background: url("/img/smallX.jpg"); }

/*# sourceMappingURL=base.css.map */
