@charset "UTF-8";
@import '../../bourbon/_bourbon.scss';
@import '../../base/_mixins.scss';
@import '../../base/_placeholders.scss';
@import '../../base/_variables.scss';

.taleZone.previewBlock {
    &:before {
        display: none;
    }
    &:after {
        display: none;
    }

    .frameBg {
        @include transition(all 0.3s ease-in-out);
    }

    .topBlock {
        position: absolute;
        z-index: 5;

        .heroInDrag {
            cursor: default;
        }

        .firstPlan .replica {
            bottom: 370px;
            right: -140px;

            &.dragged {
                bottom: auto;
                right: auto;
            }
        }

        .secondPlan .replica {
            bottom: 250px;
            right: -180px;

            &.dragged {
                bottom: auto;
                right: auto;
            }
        }

        .replica {
            position: absolute;
            width: 220px;
            text-align: center;
            font-size: 16px;

            &:after {
                display: none;
            }

            &.dragged {
                @include position(absolute, auto auto null null);
            }
        }

        .replicaInner {
            font-family: Arial;
            width: 220px;
            padding: 20px;
            background: #f4ecd9;
            border-radius: 52px;

            &:before {
                content: '';
                z-index: -1;
                @include size(67px 57px);
            }

            &.RT:before {
                @include position(absolute, null null -45px -3px);
                background: url('#{$imgPath}bubleTailRT.png');
            }

            &.LT:before {
                @include position(absolute, null -3px -45px null);
                background: url('#{$imgPath}bubleTailLT.png');
            }

            &.RB:before {
                @include position(absolute, -50px null null -3px);
                background: url('#{$imgPath}bubleTailRB.png');
            }

            &.LB:before {
                @include position(absolute, -50px -3px null null);
                background: url('#{$imgPath}bubleTailLB.png');
            }

            &:after {
                content: '';
                @include position(absolute, 0 0 0 0);
                z-index: -2;
                border-radius: 52px;
                box-shadow: 0px 0px 12px 13px rgba(0, 0, 0, 0.15);
            }
        }

        .heroImg:hover + .name {
            opacity: 1;
        }

        .name {
            bottom: -45px;
            width: 168px;
            height: 38px;
            box-shadow: $outerShadow;
            border-radius: 5px;
            padding: 11px 0;
            overflow: hidden;
            text-align: center;
            font-size: 16px;
            background: #fff;
            opacity: 0;
            font-family: Arial;
        }
    }

    .authorText.active {
        display: table;

        .authorInner {
            font-family: Arial;
            display: table-cell;
            width: 100%;
            height: 100%;
            padding: 10px;
            font-size: 16px;
            text-align: center;
            vertical-align: middle;
        }
    }

    .soundBtnWrap {
        @include position(absolute, null null 34px 28px);
        @include size(49px);
        cursor: pointer;
        box-shadow: $outerShadow;
        border-radius: 5px;
        background: #fff;

        .soundBtn {
            @include position(absolute, 6px null null 6px);
            @include size(36px 37px);
            background-image: url('#{$imgPath}soundOn.jpg');

            &.muted {
                background-image: url('#{$imgPath}soundOff.jpg');
            }
        }
    }

    .sharing {
        @include position(absolute, null -3px -11px null);
        @include size(195px 69px);
        padding: 15px 23px 23px 18px;
        line-height: 170%;
        background: url('#{$imgPath}playerShareBg.png');
        text-align: justify;

        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }

        .shareLabel {
            font-family: Arial;
            font-weight: bold;
            font-size: 13px;
            color: $brown;
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 0 3px;
        }

        .share {
            height: 22px;
            display: inline-block;
            vertical-align: middle;
            background: url('#{$imgPath}playerShareNw.png');
            cursor: pointer;

            &.fb {
                width: 18px;
                background-position: 0 0;
            }

            &.ok {
                @include size(21px);
                background: none;
            }

            &.vk {
                width: 17px;
                background-position: -52px 0;
            }
        }

    }

    .frameControl {
        @include position(absolute, null null -16px 484px);
        @include size(248px 142px);

        .prevFrame {
            @include position(absolute, 45px null null 23px);
            @include size(45px 45px);
            border-radius: 5px;
            box-shadow: $outerShadow;
            z-index: 1;
            cursor: pointer;
            background: #f4ecd9;
            &:after {
                content: '';
                @include size(32px 26px);
                @include position(absolute, 11px null null 5px);
                background: url('#{$imgPath}playP.png');
            }
        }

        .nextFrame {
            @extend .prevFrame;
            @include position(absolute, null 15px null auto);

            &:after {
                @include position(absolute, 10px null null 4px);
                @include size(33px 26px);
                background: url('#{$imgPath}playN.png');

            }
        }

        .playFrame {
            @include position(absolute, 15px null null 75px);
            @include size(106px);
            z-index: 1;
            cursor: pointer;
            background: $red;
            border: 13px solid $white;
            border-radius: 50%;
            box-shadow: inset -1px -2px 0px 0px rgba(0, 0, 0, 0.2), $outerShadow;

            &:after {
                content: '';
                @include position(absolute, 19px null null 27px);
                @include size(40px 42px);
                background: url('#{$imgPath}play.png');
            }

            &.pause:after {
                @include position(absolute, 23px null null 23px);
                @include size(34px);
                background: url('#{$imgPath}pause.png');
            }
        }
    }

    .trackWrap {
        display: none;
    }

    .likeBox {
        @include position(absolute, 208px null null 380px);
        @include size(471px 206px);
        z-index: 2;
        padding: 43px 58px;
        font-family: Arial;
        font-size: 18px;
        background: url('#{$imgPath}likeBg.png');

        .likeBtns {
            text-align: center;
            margin: 27px 0 0 -35px;
            padding: 0 5px 0 0;
            width: 429px;
            &:after {
                content: '';
                display: inline-block;
                width: 100%;
            }
        }

        .likeBtn {
            margin: 5px 0;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;

            &.fb {
                @include size(73px 31px);
                background: url('#{$imgPath}fbLike.png');
            }

            &.ok {
                @include size(90px 28px);
                background: url('#{$imgPath}okLike.png');
            }

            &.vk {
                @include size(121px 28px);
                background: url('#{$imgPath}vkLike.png');
            }
        }
    }
}
