upload {
	display: block;
	margin-bottom: 15px;

	.uploadedWrap {
		margin-top: 10px;
	}

	.uploaded {
		display: inline-block;
		vertical-align: middle;
		width: 250px;
		height: 150px;
		margin-right: 10px;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		background-color: #ddd;
		border: none;

		&.small {
			width: 120px;
			height: 120px;
		}
	}

	label {
		cursor: pointer;
	}

	form {
		display: none;
	}
}