@charset "UTF-8";
@import '../../../../../../../../css/base/_placeholders.scss';
@import '../../../../../../../../css/base/_variables.scss';
@import '../../../../../../../../css/base/_mixins.scss';

#sp-immunity {
	line-height: 20px;
	
	.mainPageFirst {
		height: 319px;
		overflow: visible;
		
		&:after {
			clear: both;
		}
		
		.gradient {
			background: url('/img/immunity/gradient.jpg') repeat-x center;
			height: 206px;
		}
		
		.baseboard {
			background: url('/img/immunity/baseboard.png') repeat-x center;
			height: 67px;
		}
		
		.wood {	
			background: url('/img/immunity/wood.jpg') repeat-x center;
			height: 61px;
			max-width: none;
		}
		
		.cat_mix {
			font-family: 'PT_Sans_Regular';
			padding: 72px 55px 0 79px;
		}
	}
	
	.cat_thief {
		z-index: 10;
		
		.content {
			&:before {
				@include pseudo;
				@include image_fix;
				background: url('/img/immunity/cat_thief.png') no-repeat;
				width: 374px;
				height: 470px;
				left: 62px;
				top: -171px;
				z-index: 10;
			}
		}
	}
	
	.meal_table {
		background-color: #f4f1e2;
		height: 799px;
		overflow: hidden;
		position: relative;
		
		.slider_container {
			@include absolute_horizontal_centered;
			@include rounded;
			@include border_boxed;
			width: 500px;
			bottom: 78px;
			background-color: #ede0c5;
			height: 17px;
			z-index: 10;
			padding: 0 69px 0 4px;
		}
		
		.slider {
			height: 17px;
		}
		
		.ui-slider-handle {
			@include rounded;
			height: 11px;
			background: url('/img/immunity/slider_handle_bg.png') repeat-x;
			width: 65px;
			margin: 8px 0;
		}
	}
	
	.meal_content {
		position: relative;
		height: 100%;
		
		.popup {
			z-index: 20;
			
			.closedLogo {
				background-color: $green;
			}
			
			.popupClose {
				background-color: $green;
				width: 50px;
				height: 50px;
				margin-left: -25px;
				margin-top: -25px;
			}
			
			.popupText {
				background-color: $green;
				bottom: -300px;
				height: 408px;
				left: -15px;
				width: 408px;
				text-align: left;
				
				.title {
					font-size: 24px;
					line-height: 24px;
					color: #d0f1e1;
					font-family: 'Open Sans', sans-serif;
					font-weight: bold;
					line-height: 30px;
				}
				
				.text {
					font-size: 14px;
					line-height: 20px;
					margin-top: 30px;
				}
			}
			
			.popupTextWrapper {
				@include border_boxed;
				padding: 76px;
			}
			
			&.raisins {
				top: 380px;
				left: 115px;
			}
			
			&.air {
				bottom: 240px;
				left: 350px;
			}
			
			&.meat {
				top: 150px;
				left: 390px;
			}
			
			&.cranberries {
				top: 310px;
				left: 625px;
			}
			
			&.probiotics {
				bottom: 190px;
				left: 705px;
			}
			
			&.linen {
				top: 30px;
				left: 755px;
			}
			
			&.ginseng {
				bottom: 280px;
				left: 940px;
			}
			
			&.thyme {
				top: 310px;
				left: 1030px;
			}
			
			&.yeast {
				top: 90px;
				left: 1085px;
			}
		}
	}
	
	.does_not_contain {
		height: 345px;
		background-color: #f4f1e2;
		padding: 104px 0 0;
		text-align: center;
		font-size: 14px;
		
		.contain_block {
			@include my_inline_block;
			width: 134px;
			margin: 0 77px;
		}
		
		img {
			margin-bottom: 16px;
		}
	}
	
	.bottom {
		height: 450px;
		background-color: #f9f7ef;
		
		.right {
			padding: 113px 0 0;
		}
		
		.content {
			width: $siteWidth;
			margin: 0 auto;
			height: 100%;
		}
		
		.desc {
			@include border_boxed;
			width: 340px;
			font-size: 14px;
			padding: 0 10px;
			font-family: 'PT_Sans_Regular';
			text-align: center;
			position: relative;
			z-index: 20;
		}
		
		.button_container {
			position: absolute;
			left: 44px;
			bottom: 73px;
		}
		
		.greenBtn {
			float: left;
			position: relative;
			z-index: 1;
			font-size: 22px;
			height: 69px;
			
			&:before {
				@include pseudo;
				background: url('/img/immunity/cat_button.png') no-repeat;
				width: 529px;
				height: 309px;
				bottom: -73px;
				right: -190px;
				z-index: 5;
				right: 60px;
			}
			
			.btnBackground {
				z-index: 1;
			}
			
			.adorable_table {
				z-index: 10;
			}
		}
	}
}