@charset "UTF-8";
@import '../../../../../../css/base/_placeholders.scss';
@import '../../../../../../css/base/_variables.scss';

header#header {
	position: relative;
	width: 100%;
	height: rem(75);
	background-color: #ffffff;

	.logo {
		position: absolute;
		top: -91px;
		left: -30px;

		img {

		}
	}

	.headerContent {
		width: #{$siteWidth};
		height: 100%;
		position: relative;
		margin: 0 auto;
		padding: 0 $basicPadding;

		ul {
			height: 100%;
		}

		li {
			height: 100%;
			float: left;
		}

		a {
			color: #666666;
			@include transition(all 150ms ease-in-out 0s);
			text-decoration: none;

			display: block;
			position: relative;
			top: 50%;
			@include transform(translateY(-50%));
		}

		.menu {
			$anchorPadding: rem(15);

			height: 100%;
			float: left;
			font-size: rem(12);
			margin-left: -$anchorPadding;

			a {
				padding: rem(10) $anchorPadding;
				border-radius: 20px;

				&:hover {
					color: #006935;
					background-color: #dbeddc;
				}
			}
		}

		.languagesMenu {
			$anchorPadding: rem(5);

			float: right;
			font-size: 10px;
			margin-right: -$anchorPadding;

			a {
				padding: $anchorPadding;
				text-transform: uppercase;

				&:hover {
					color: #006935;
				}
			}
		}
	}

	.petToggle {
		$size: 134px;


		width: 111px;
		height: 89px;
		position: absolute;
		right: 0;
		top: 0;
		@extend %bg-image-cover;
		background-image: url('#{$imgPath}dogToggle.png');
		@include transition(all 150ms ease-in-out 0s);

		&:hover .warped {
			cursor: pointer;
			@include transform(rotate(-1deg));
		}
		&:hover {
			cursor: pointer;
		}


		.warped {
			position: absolute;
			display: block;
			left: -237px;
			top: -183px;
			@include transition(all 150ms ease-in-out 0s);
		}

		.warped > span[class^=w]:nth-of-type(n+0) {
			display: block;
			position: absolute;
			-moz-transform-origin: 50% 100%;
			-webkit-transform-origin: 50% 100%;
			-o-transform-origin: 50% 100%;
			-ms-transform-origin: 50% 100%;
			transform-origin: 50% 100%;
		}

		.warped span {
			font-family: Open Sans;
			font-size: 12px;
			font-weight: bold;
			font-style: normal;
			line-height: 0.65;
			white-space: pre;
			overflow: visible;
			padding: 0px;
			color: #048445;
		}

		.warped .w0 {
			-moz-transform: rotate(7.44rad);
			-webkit-transform: rotate(7.44rad);
			-o-transform: rotate(7.44rad);
			-ms-transform: rotate(7.44rad);
			transform: rotate(7.44rad);
			width: 8px;
			height: 7px;
			left: 228.62px;
			top: 239.86px;
		}

		.warped .w1 {
			-moz-transform: rotate(7.29rad);
			-webkit-transform: rotate(7.29rad);
			-o-transform: rotate(7.29rad);
			-ms-transform: rotate(7.29rad);
			transform: rotate(7.29rad);
			width: 6px;
			height: 7px;
			left: 234.3px;
			top: 248.69px;
		}

		.warped .w2 {
			-moz-transform: rotate(7.15rad);
			-webkit-transform: rotate(7.15rad);
			-o-transform: rotate(7.15rad);
			-ms-transform: rotate(7.15rad);
			transform: rotate(7.15rad);
			width: 6px;
			height: 7px;
			left: 239.59px;
			top: 255.96px;
		}

		.warped .w3 {
			-moz-transform: rotate(7.04rad);
			-webkit-transform: rotate(7.04rad);
			-o-transform: rotate(7.04rad);
			-ms-transform: rotate(7.04rad);
			transform: rotate(7.04rad);
			width: 3px;
			height: 7px;
			left: 246.21px;
			top: 261.44px;
		}

		.warped .w4 {
			-moz-transform: rotate(6.94rad);
			-webkit-transform: rotate(6.94rad);
			-o-transform: rotate(6.94rad);
			-ms-transform: rotate(6.94rad);
			transform: rotate(6.94rad);
			width: 5px;
			height: 7px;
			left: 250.51px;
			top: 266px;
		}

		.warped .w5 {
			-moz-transform: rotate(6.81rad);
			-webkit-transform: rotate(6.81rad);
			-o-transform: rotate(6.81rad);
			-ms-transform: rotate(6.81rad);
			transform: rotate(6.81rad);
			width: 6px;
			height: 7px;
			left: 257.05px;
			top: 270.76px;
		}

		.warped .w6 {
			-moz-transform: rotate(6.68rad);
			-webkit-transform: rotate(6.68rad);
			-o-transform: rotate(6.68rad);
			-ms-transform: rotate(6.68rad);
			transform: rotate(6.68rad);
			width: 6px;
			height: 7px;
			left: 265.09px;
			top: 274.78px;
		}

		.warped .w7 {
			-moz-transform: rotate(6.55rad);
			-webkit-transform: rotate(6.55rad);
			-o-transform: rotate(6.55rad);
			-ms-transform: rotate(6.55rad);
			transform: rotate(6.55rad);
			width: 5px;
			height: 7px;
			left: 273.62px;
			top: 277.57px;
		}

		.warped .w8 {
			-moz-transform: rotate(6.42rad);
			-webkit-transform: rotate(6.42rad);
			-o-transform: rotate(6.42rad);
			-ms-transform: rotate(6.42rad);
			transform: rotate(6.42rad);
			width: 6px;
			height: 7px;
			left: 281.43px;
			top: 279.31px;
		}

		.warped .w9 {
			-moz-transform: rotate(6.31rad);
			-webkit-transform: rotate(6.31rad);
			-o-transform: rotate(6.31rad);
			-ms-transform: rotate(6.31rad);
			transform: rotate(6.31rad);
			width: 3px;
			height: 7px;
			left: 290.4px;
			top: 279.96px;
		}

		.warped .w10 {
			-moz-transform: rotate(6.15rad);
			-webkit-transform: rotate(6.15rad);
			-o-transform: rotate(6.15rad);
			-ms-transform: rotate(6.15rad);
			transform: rotate(6.15rad);
			width: 12px;
			height: 7px;
			left: 296.38px;
			top: 279.47px;
		}

		.warped .w11 {
			-moz-transform: rotate(6.16rad);
			-webkit-transform: rotate(6.16rad);
			-o-transform: rotate(6.16rad);
			-ms-transform: rotate(6.16rad);
			transform: rotate(6.16rad);
			width: 9px;
			height: 7px;
			left: 307.14px;
			top: 361.95px;
		}

		.warped .w12 {
			-moz-transform: rotate(6.07rad);
			-webkit-transform: rotate(6.07rad);
			-o-transform: rotate(6.07rad);
			-ms-transform: rotate(6.07rad);
			transform: rotate(6.07rad);
			width: 7px;
			height: 7px;
			left: 320.97px;
			top: 359.87px;
		}

		.warped .w13 {
			-moz-transform: rotate(5.99rad);
			-webkit-transform: rotate(5.99rad);
			-o-transform: rotate(5.99rad);
			-ms-transform: rotate(5.99rad);
			transform: rotate(5.99rad);
			width: 7px;
			height: 7px;
			left: 332.61px;
			top: 356.96px;
		}

		.warped .w14 {
			-moz-transform: rotate(5.91rad);
			-webkit-transform: rotate(5.91rad);
			-o-transform: rotate(5.91rad);
			-ms-transform: rotate(5.91rad);
			transform: rotate(5.91rad);
			width: 7px;
			height: 7px;
			left: 343.98px;
			top: 353.14px;
		}

		.warped .w15 {
			-moz-transform: rotate(5.83rad);
			-webkit-transform: rotate(5.83rad);
			-o-transform: rotate(5.83rad);
			-ms-transform: rotate(5.83rad);
			transform: rotate(5.83rad);
			width: 7px;
			height: 7px;
			left: 355.01px;
			top: 348.41px;
		}

		.warped .w16 {
			-moz-transform: rotate(5.76rad);
			-webkit-transform: rotate(5.76rad);
			-o-transform: rotate(5.76rad);
			-ms-transform: rotate(5.76rad);
			transform: rotate(5.76rad);
			width: 4px;
			height: 7px;
			left: 365.82px;
			top: 343.57px;
		}

		.warped .w17 {
			-moz-transform: rotate(6rad);
			-webkit-transform: rotate(6rad);
			-o-transform: rotate(6rad);
			-ms-transform: rotate(6rad);
			transform: rotate(6rad);
			width: 21px;
			height: 24px;
			left: 242.66px;
			top: 51.66px;
		}

		.warped .w18 {
			-moz-transform: rotate(6.18rad);
			-webkit-transform: rotate(6.18rad);
			-o-transform: rotate(6.18rad);
			-ms-transform: rotate(6.18rad);
			transform: rotate(6.18rad);
			width: 23px;
			height: 24px;
			left: 268.16px;
			top: 46.68px;
		}

		.warped .w19 {
			-moz-transform: rotate(6.34rad);
			-webkit-transform: rotate(6.34rad);
			-o-transform: rotate(6.34rad);
			-ms-transform: rotate(6.34rad);
			transform: rotate(6.34rad);
			width: 13px;
			height: 24px;
			left: 296.13px;
			top: 46.24px;
		}

		.warped .w20 {
			-moz-transform: rotate(6.49rad);
			-webkit-transform: rotate(6.49rad);
			-o-transform: rotate(6.49rad);
			-ms-transform: rotate(6.49rad);
			transform: rotate(6.49rad);
			width: 23px;
			height: 24px;
			left: 313.9px;
			top: 49.32px;
		}

		.warped .w21 {
			-moz-transform: rotate(6.65rad);
			-webkit-transform: rotate(6.65rad);
			-o-transform: rotate(6.65rad);
			-ms-transform: rotate(6.65rad);
			transform: rotate(6.65rad);
			width: 15px;
			height: 24px;
			left: 340.87px;
			top: 56.2px;
		}

		.warped .w22 {
			-moz-transform: rotate(6.85rad);
			-webkit-transform: rotate(6.85rad);
			-o-transform: rotate(6.85rad);
			-ms-transform: rotate(6.85rad);
			transform: rotate(6.85rad);
			width: 35px;
			height: 24px;
			left: 357.56px;
			top: 69.79px;
		}

		.warped .w23 {
			-moz-transform: rotate(7.04rad);
			-webkit-transform: rotate(7.04rad);
			-o-transform: rotate(7.04rad);
			-ms-transform: rotate(7.04rad);
			transform: rotate(7.04rad);
			width: 11px;
			height: 24px;
			left: 391.57px;
			top: 87.02px;
		}

		.warped .w24 {
			-moz-transform: rotate(7.14rad);
			-webkit-transform: rotate(7.14rad);
			-o-transform: rotate(7.14rad);
			-ms-transform: rotate(7.14rad);
			transform: rotate(7.14rad);
			width: 11px;
			height: 24px;
			left: 402.59px;
			top: 98.62px;
		}

		.warped .w25 {
			-moz-transform: rotate(7.29rad);
			-webkit-transform: rotate(7.29rad);
			-o-transform: rotate(7.29rad);
			-ms-transform: rotate(7.29rad);
			transform: rotate(7.29rad);
			width: 23px;
			height: 24px;
			left: 409.6px;
			top: 116.34px;
		}

		.warped .w26 {
			-moz-transform: rotate(7.44rad);
			-webkit-transform: rotate(7.44rad);
			-o-transform: rotate(7.44rad);
			-ms-transform: rotate(7.44rad);
			transform: rotate(7.44rad);
			width: 13px;
			height: 24px;
			left: 425.27px;
			top: 136.68px;
		}

		.warped .w27 {
			-moz-transform: rotate(7.55rad);
			-webkit-transform: rotate(7.55rad);
			-o-transform: rotate(7.55rad);
			-ms-transform: rotate(7.55rad);
			transform: rotate(7.55rad);
			width: 10px;
			height: 24px;
			left: 432.45px;
			top: 152.17px;
		}

		.warped .w28 {
			-moz-transform: rotate(7.68rad);
			-webkit-transform: rotate(7.68rad);
			-o-transform: rotate(7.68rad);
			-ms-transform: rotate(7.68rad);
			transform: rotate(7.68rad);
			width: 18px;
			height: 24px;
			left: 432.84px;
			top: 170.64px;
		}

		.warped .w29 {
			-moz-transform: rotate(7.84rad);
			-webkit-transform: rotate(7.84rad);
			-o-transform: rotate(7.84rad);
			-ms-transform: rotate(7.84rad);
			transform: rotate(7.84rad);
			width: 19px;
			height: 24px;
			left: 434.48px;
			top: 194.02px;
		}

		.warped .w30 {
			-moz-transform: rotate(7.97rad);
			-webkit-transform: rotate(7.97rad);
			-o-transform: rotate(7.97rad);
			-ms-transform: rotate(7.97rad);
			transform: rotate(7.97rad);
			width: 11px;
			height: 24px;
			left: 437.41px;
			top: 213.97px;
		}

		.warped .w31 {
			-moz-transform: rotate(8.08rad);
			-webkit-transform: rotate(8.08rad);
			-o-transform: rotate(8.08rad);
			-ms-transform: rotate(8.08rad);
			transform: rotate(8.08rad);
			width: 11px;
			height: 24px;
			left: 434.65px;
			top: 229.73px;
		}

		.warped .w32 {
			-moz-transform: rotate(8.27rad);
			-webkit-transform: rotate(8.27rad);
			-o-transform: rotate(8.27rad);
			-ms-transform: rotate(8.27rad);
			transform: rotate(8.27rad);
			width: 36px;
			height: 24px;
			left: 413.15px;
			top: 256.72px;
		}

		.warped .w33 {
			-moz-transform: rotate(8.5rad);
			-webkit-transform: rotate(8.5rad);
			-o-transform: rotate(8.5rad);
			-ms-transform: rotate(8.5rad);
			transform: rotate(8.5rad);
			width: 23px;
			height: 24px;
			left: 402.2px;
			top: 286.39px;
		}

		.warped .w34 {
			-moz-transform: rotate(8.66rad);
			-webkit-transform: rotate(8.66rad);
			-o-transform: rotate(8.66rad);
			-ms-transform: rotate(8.66rad);
			transform: rotate(8.66rad);
			width: 15px;
			height: 24px;
			left: 390.27px;
			top: 304.31px;
		}

		.warped .w35 {
			-moz-transform: rotate(8.82rad);
			-webkit-transform: rotate(8.82rad);
			-o-transform: rotate(8.82rad);
			-ms-transform: rotate(8.82rad);
			transform: rotate(8.82rad);
			width: 23px;
			height: 24px;
			left: 367.68px;
			top: 319.46px;
		}

		.warped .w36 {
			-moz-transform: rotate(8.96rad);
			-webkit-transform: rotate(8.96rad);
			-o-transform: rotate(8.96rad);
			-ms-transform: rotate(8.96rad);
			transform: rotate(8.96rad);
			width: 11px;
			height: 24px;
			left: 354.73px;
			top: 330.58px;
		}

		.warped .w37 {
			-moz-transform: rotate(9.07rad);
			-webkit-transform: rotate(9.07rad);
			-o-transform: rotate(9.07rad);
			-ms-transform: rotate(9.07rad);
			transform: rotate(9.07rad);
			width: 10px;
			height: 24px;
			left: 340.99px;
			top: 336.69px;
		}

		.warped .w38 {
			-moz-transform: rotate(9.18rad);
			-webkit-transform: rotate(9.18rad);
			-o-transform: rotate(9.18rad);
			-ms-transform: rotate(9.18rad);
			transform: rotate(9.18rad);
			width: 15px;
			height: 24px;
			left: 321.76px;
			top: 341.79px;
		}

		.warped .w39 {
			-moz-transform: rotate(9.31rad);
			-webkit-transform: rotate(9.31rad);
			-o-transform: rotate(9.31rad);
			-ms-transform: rotate(9.31rad);
			transform: rotate(9.31rad);
			width: 12px;
			height: 24px;
			left: 305.06px;
			top: 345.02px;
		}

		.warped .w40 {
			-moz-transform: rotate(9.42rad);
			-webkit-transform: rotate(9.42rad);
			-o-transform: rotate(9.42rad);
			-ms-transform: rotate(9.42rad);
			transform: rotate(9.42rad);
			width: 11px;
			height: 24px;
			left: 289.09px;
			top: 345.99px;
		}
	}
}

#footer {
	$anchorPadding: rem(15);

	position: relative;
	width: 100%;
	height: rem(80);
	background-color: #0a5631;
	color: #ffffff;
	overflow: hidden;

	.content {
		width: $siteWidth;
		position: relative;
		margin: 0 auto;
		height: 100%;
	}

	.logo {
		display: block;
		position: relative;
		height: 100%;
		float: left;
		margin: 0 55px 0 -10px;

		img {
			height: 100%;
		}
	}

	a {
		color: #ffffff;
		text-decoration: none;

		display: block;
		position: relative;
		top: 50%;
		@include transform(translateY(-50%));
	}
	ul {
		height: 100%;
	}

	li {
		height: 100%;
		float: left;
	}


	.footerContent {
		height: 100%;

		float: left;

		.menu {

			height: 100%;
			float: left;
			font-size: rem(12);
			margin-left: -$anchorPadding;

			a {
				padding: rem(10) $anchorPadding;
				border-radius: 20px;
				@include transition(all 150ms ease-in-out 0s);

				&:hover {
					color: #006935;
					background-color: #dbeddc;
				}
			}
		}
	}
}