@charset "UTF-8";
.mainPageWrapper .mainPageFirst .content .catImage, .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout, .mainPageWrapper .mainPageSecond .label, .mainPageWrapper .mainPageSecond .label .arrow, .mainPageWrapper .mainPageThird .leftColumn .image, .mainPageWrapper .mainPageThird .leftColumn .image .nutrimentSmall, .mainPageWrapper .mainPageThird .leftColumn .nutriment, .mainPageWrapper .mainPageThird .rightColumn .nutrimentSmall.fruitRight, .mainPageWrapper .contacts, .mainPageWrapper .contacts .topStripe .curve {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.mainPageWrapper {
  position: relative;
  width: 100%; }
  .mainPageWrapper .centered {
    position: relative;
    width: 1024px;
    margin: 0 auto; }
  .mainPageWrapper h1 {
    color: #048445;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.4; }
  .mainPageWrapper .mainPageSlide {
    position: relative;
    width: 100%;
    height: 40.3125rem; }
  .mainPageWrapper .mainPageFirst {
    overflow: hidden; }
    .mainPageWrapper .mainPageFirst .backgrounds {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%; }
      .mainPageWrapper .mainPageFirst .backgrounds .gradient {
        width: 100%;
        height: 21.875rem;
        position: relative;
        background-color: #d8ecd8;
        background-image: -webkit-linear-gradient(#d8ecd8, #deefe1, #e3f3e6, #eaf6ec, #f0f8f2, #f4f9f6, #f8fbf8, #fafcfa);
        background-image: linear-gradient(#d8ecd8, #deefe1, #e3f3e6, #eaf6ec, #f0f8f2, #f4f9f6, #f8fbf8, #fafcfa); }
      .mainPageWrapper .mainPageFirst .backgrounds .baseboard {
        position: relative;
        margin: -15px auto 0;
        width: 100%;
        background: url("/img/baseboard.png") repeat-x;
        height: 112px; }
      .mainPageWrapper .mainPageFirst .backgrounds .wood {
        width: 100%;
        max-width: 2295px;
        height: 161px;
        position: relative;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("/img/mainWoodBackground.png"); }
    .mainPageWrapper .mainPageFirst .content {
      width: 1024px;
      margin: 0 auto;
      height: 100%; }
      .mainPageWrapper .mainPageFirst .content .column {
        width: 50%;
        height: 100%;
        float: left;
        position: relative; }
      .mainPageWrapper .mainPageFirst .content .catImage {
        width: 100%;
        height: 100%;
        background-image: url("/img/mainCat.png"); }
      .mainPageWrapper .mainPageFirst .content .innerContent {
        color: #333333;
        line-height: 1.4;
        margin-top: 6.25rem; }
        .mainPageWrapper .mainPageFirst .content .innerContent h1 {
          margin-bottom: 2.1875rem; }
        .mainPageWrapper .mainPageFirst .content .innerContent .text {
          font-size: 0.75rem;
          line-height: 1.6;
          width: 75%;
          margin-bottom: 1.5625rem; }
    .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout {
      width: 149px;
      height: 201px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -100px;
      -webkit-transition: all 150ms ease-in-out 0s;
      -moz-transition: all 150ms ease-in-out 0s;
      transition: all 150ms ease-in-out 0s;
      background-image: url("/img/catsKeepSilenceAbout.png"); }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout:hover {
        cursor: pointer;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1); }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout:hover .warped {
        visibility: visible;
        opacity: 1; }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout .warped {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: -132px;
        left: -200px;
        display: block; }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout .warped > span[class^=w]:nth-of-type(n+0) {
        display: block;
        position: absolute;
        -moz-transform-origin: 50% 100%;
        -webkit-transform-origin: 50% 100%;
        -o-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        transform-origin: 50% 100%; }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout .warped span {
        font-family: Open Sans;
        font-size: 12px;
        font-weight: regular;
        font-style: normal;
        line-height: 0.65;
        white-space: pre;
        overflow: visible;
        padding: 0px;
        color: #048445; }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout .warped .w0 {
        -moz-transform: rotate(-0.47rad);
        -webkit-transform: rotate(-0.47rad);
        -o-transform: rotate(-0.47rad);
        -ms-transform: rotate(-0.47rad);
        transform: rotate(-0.47rad);
        width: 9px;
        height: 7px;
        left: 244.91px;
        top: 123.48px; }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout .warped .w1 {
        -moz-transform: rotate(-0.4rad);
        -webkit-transform: rotate(-0.4rad);
        -o-transform: rotate(-0.4rad);
        -ms-transform: rotate(-0.4rad);
        transform: rotate(-0.4rad);
        width: 5px;
        height: 7px;
        left: 253.28px;
        top: 120.58px; }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout .warped .w2 {
        -moz-transform: rotate(-0.34rad);
        -webkit-transform: rotate(-0.34rad);
        -o-transform: rotate(-0.34rad);
        -ms-transform: rotate(-0.34rad);
        transform: rotate(-0.34rad);
        width: 6px;
        height: 7px;
        left: 257.92px;
        top: 118.62px; }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout .warped .w3 {
        -moz-transform: rotate(-0.29rad);
        -webkit-transform: rotate(-0.29rad);
        -o-transform: rotate(-0.29rad);
        -ms-transform: rotate(-0.29rad);
        transform: rotate(-0.29rad);
        width: 5px;
        height: 7px;
        left: 263.66px;
        top: 116.95px; }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout .warped .w4 {
        -moz-transform: rotate(-0.23rad);
        -webkit-transform: rotate(-0.23rad);
        -o-transform: rotate(-0.23rad);
        -ms-transform: rotate(-0.23rad);
        transform: rotate(-0.23rad);
        width: 6px;
        height: 7px;
        left: 268.48px;
        top: 115.56px; }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout .warped .w5 {
        -moz-transform: rotate(-0.17rad);
        -webkit-transform: rotate(-0.17rad);
        -o-transform: rotate(-0.17rad);
        -ms-transform: rotate(-0.17rad);
        transform: rotate(-0.17rad);
        width: 6px;
        height: 7px;
        left: 274.36px;
        top: 114.39px; }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout .warped .w6 {
        -moz-transform: rotate(-0.11rad);
        -webkit-transform: rotate(-0.11rad);
        -o-transform: rotate(-0.11rad);
        -ms-transform: rotate(-0.11rad);
        transform: rotate(-0.11rad);
        width: 6px;
        height: 7px;
        left: 280.31px;
        top: 113.57px; }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout .warped .w7 {
        -moz-transform: rotate(-0.07rad);
        -webkit-transform: rotate(-0.07rad);
        -o-transform: rotate(-0.07rad);
        -ms-transform: rotate(-0.07rad);
        transform: rotate(-0.07rad);
        width: 3px;
        height: 7px;
        left: 286.29px;
        top: 113.19px; }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout .warped .w8 {
        -moz-transform: rotate(-0.02rad);
        -webkit-transform: rotate(-0.02rad);
        -o-transform: rotate(-0.02rad);
        -ms-transform: rotate(-0.02rad);
        transform: rotate(-0.02rad);
        width: 6px;
        height: 7px;
        left: 289.28px;
        top: 113.01px; }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout .warped .w9 {
        -moz-transform: rotate(0.03rad);
        -webkit-transform: rotate(0.03rad);
        -o-transform: rotate(0.03rad);
        -ms-transform: rotate(0.03rad);
        transform: rotate(0.03rad);
        width: 5px;
        height: 7px;
        left: 295.28px;
        top: 113.07px; }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout .warped .w10 {
        -moz-transform: rotate(0.07rad);
        -webkit-transform: rotate(0.07rad);
        -o-transform: rotate(0.07rad);
        -ms-transform: rotate(0.07rad);
        transform: rotate(0.07rad);
        width: 3px;
        height: 7px;
        left: 300.28px;
        top: 113.3px; }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout .warped .w11 {
        -moz-transform: rotate(0.11rad);
        -webkit-transform: rotate(0.11rad);
        -o-transform: rotate(0.11rad);
        -ms-transform: rotate(0.11rad);
        transform: rotate(0.11rad);
        width: 5px;
        height: 7px;
        left: 303.26px;
        top: 113.69px; }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout .warped .w12 {
        -moz-transform: rotate(0.16rad);
        -webkit-transform: rotate(0.16rad);
        -o-transform: rotate(0.16rad);
        -ms-transform: rotate(0.16rad);
        transform: rotate(0.16rad);
        width: 5px;
        height: 7px;
        left: 308.21px;
        top: 114.4px; }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout .warped .w13 {
        -moz-transform: rotate(0.22rad);
        -webkit-transform: rotate(0.22rad);
        -o-transform: rotate(0.22rad);
        -ms-transform: rotate(0.22rad);
        transform: rotate(0.22rad);
        width: 6px;
        height: 7px;
        left: 313.1px;
        top: 115.47px; }
      .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout .warped .w14 {
        -moz-transform: rotate(0.27rad);
        -webkit-transform: rotate(0.27rad);
        -o-transform: rotate(0.27rad);
        -ms-transform: rotate(0.27rad);
        transform: rotate(0.27rad);
        width: 5px;
        height: 7px;
        left: 318.93px;
        top: 116.83px; }
  .mainPageWrapper .mainPageSecond {
    background-position: 50%;
    background-image: url("/img/mainSecondBackground.jpg"); }
    .mainPageWrapper .mainPageSecond .label {
      position: absolute;
      top: 0;
      left: 50%;
      width: 141px;
      height: 25px;
      background-image: url("/img/mainFirstLabel.png");
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
      .mainPageWrapper .mainPageSecond .label .arrow {
        position: relative;
        width: 25px;
        height: 15px;
        top: -15px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        background-image: url("/img/mainFirstLabelArrow.png"); }
    .mainPageWrapper .mainPageSecond .content {
      position: absolute;
      top: 100px;
      left: 50%;
      margin-left: -11.875rem;
      background: rgba(255, 255, 255, 0.92);
      text-align: center;
      width: 23.75rem;
      padding: 2.5rem 2.1875rem 5rem;
      border-radius: 6.25rem; }
      .mainPageWrapper .mainPageSecond .content h1 {
        margin-bottom: 1.875rem; }
      .mainPageWrapper .mainPageSecond .content .text {
        line-height: 1.9;
        font-size: 0.75rem;
        color: #333333; }
      .mainPageWrapper .mainPageSecond .content .greenBtn {
        z-index: 1;
        position: absolute;
        left: 50%;
        bottom: 0;
        -webkit-transform: translate(-50%, 50%);
        -moz-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
        -o-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%); }
    .mainPageWrapper .mainPageSecond .popup1 {
      left: -20.625rem;
      top: 6.25rem; }
    .mainPageWrapper .mainPageSecond .popup2 {
      left: -13.125rem;
      bottom: -2.8125rem; }
    .mainPageWrapper .mainPageSecond .popup3 {
      right: -17.8125rem;
      bottom: -2.8125rem; }
  .mainPageWrapper .mainPageThird {
    background-position: 50%;
    background-repeat-x: no-repeat;
    background-image: url("/img/mainThirdBackground.jpg"); }
    .mainPageWrapper .mainPageThird .wrap {
      width: 1024px;
      height: 100%;
      margin: 0 auto;
      position: relative; }
    .mainPageWrapper .mainPageThird .leftColumn {
      width: 26.5625rem;
      float: left;
      height: 100%;
      position: relative; }
      .mainPageWrapper .mainPageThird .leftColumn .image {
        position: absolute;
        top: 6.0625rem;
        left: 2.75rem;
        width: 30.75rem;
        height: 27.5625rem;
        background-image: url("/img/mainFormula.png");
        z-index: 1; }
        .mainPageWrapper .mainPageThird .leftColumn .image .description {
          position: absolute; }
          .mainPageWrapper .mainPageThird .leftColumn .image .description:hover .descContent {
            visibility: visible;
            opacity: 1;
            cursor: pointer; }
          .mainPageWrapper .mainPageThird .leftColumn .image .description.small {
            top: 7.5625rem;
            left: 0;
            width: 10rem;
            height: 10rem; }
          .mainPageWrapper .mainPageThird .leftColumn .image .description.medium {
            bottom: 0;
            right: 6.5rem;
            width: 11.5625rem;
            height: 11.5625rem; }
          .mainPageWrapper .mainPageThird .leftColumn .image .description.large {
            top: 0;
            right: 0;
            width: 12.5rem;
            height: 12.5rem; }
          .mainPageWrapper .mainPageThird .leftColumn .image .description .descContent {
            visibility: hidden;
            opacity: 0;
            border-radius: 50%;
            background-color: #00873c;
            background-image: -webkit-linear-gradient(#00873c, #007037);
            background-image: linear-gradient(#00873c, #007037);
            color: #ffffff;
            text-align: center;
            font-size: 0.875rem;
            line-height: 1.4;
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-transition: all 150ms ease-in-out 0s;
            -moz-transition: all 150ms ease-in-out 0s;
            transition: all 150ms ease-in-out 0s; }
            .mainPageWrapper .mainPageThird .leftColumn .image .description .descContent .text {
              position: absolute;
              top: 50%;
              width: 100%;
              -webkit-transform: translateY(-50%);
              -moz-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              -o-transform: translateY(-50%);
              transform: translateY(-50%); }
        .mainPageWrapper .mainPageThird .leftColumn .image .nutrimentSmall {
          position: absolute; }
          .mainPageWrapper .mainPageThird .leftColumn .image .nutrimentSmall.milk {
            width: 116px;
            height: 62px;
            bottom: 135px;
            left: 227px;
            background-image: url("/img/mainNutrimentMilk.png"); }
          .mainPageWrapper .mainPageThird .leftColumn .image .nutrimentSmall.meat {
            width: 85px;
            height: 79px;
            top: 80px;
            left: 65px;
            background-image: url("/img/mainNutrimentMeat.png"); }
          .mainPageWrapper .mainPageThird .leftColumn .image .nutrimentSmall.fruit {
            width: 73px;
            height: 62px;
            right: 117px;
            top: -25px;
            background-image: url("/img/mainNutrimentFruit.png"); }
      .mainPageWrapper .mainPageThird .leftColumn .nutriment {
        position: absolute;
        top: 0;
        left: -21.25rem;
        width: 55rem;
        height: 39.25rem;
        background-image: url("/img/mainNutriment.png"); }
    .mainPageWrapper .mainPageThird .rightColumn {
      width: 26.5625rem;
      float: right;
      height: 100%; }
      .mainPageWrapper .mainPageThird .rightColumn .thirdContent {
        margin-top: 10rem;
        padding: 0 0.4375rem; }
        .mainPageWrapper .mainPageThird .rightColumn .thirdContent h1 {
          line-height: 1.2;
          margin-bottom: 1.5625rem; }
        .mainPageWrapper .mainPageThird .rightColumn .thirdContent .text {
          font-size: 0.75rem;
          line-height: 1.9;
          width: 19.375rem;
          margin-bottom: 2.5rem; }
      .mainPageWrapper .mainPageThird .rightColumn .nutrimentSmall.fruitRight {
        position: absolute;
        width: 108px;
        height: 121px;
        right: -141px;
        top: 248px;
        background-image: url("/img/mainNutrimentFruitRight.png"); }
    .mainPageWrapper .mainPageThird .greenBtn {
      position: relative;
      z-index: 1;
      float: left; }
  .mainPageWrapper .mainPageFourth .backgrounds {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; }
    .mainPageWrapper .mainPageFourth .backgrounds .white {
      position: absolute;
      top: 0;
      left: 0;
      background: #ffffff;
      width: 100%;
      height: 30.625rem; }
    .mainPageWrapper .mainPageFourth .backgrounds .gradient {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #d9ecdc;
      background-image: -webkit-linear-gradient(#d9ecdc, #e3f1e6, #f3f9f4, #ffffff, #ffffff);
      background-image: linear-gradient(#d9ecdc, #e3f1e6, #f3f9f4, #ffffff, #ffffff);
      width: 100%;
      height: 9.6875rem; }
    .mainPageWrapper .mainPageFourth .backgrounds .centered {
      height: 100%; }
      .mainPageWrapper .mainPageFourth .backgrounds .centered .nutriment {
        position: absolute;
        width: 19.8125rem;
        height: 28rem;
        background-image: url("/img/mainNutriment2.png");
        left: 20.625rem;
        top: 0.3125rem;
        z-index: 1; }
      .mainPageWrapper .mainPageFourth .backgrounds .centered .cat {
        position: absolute;
        width: 48.5625rem;
        height: 34.875rem;
        background-image: url("/img/mainCat2.png");
        right: -15.9375rem;
        top: 3.4375rem; }
  .mainPageWrapper .mainPageFourth .centered {
    height: 100%; }
  .mainPageWrapper .mainPageFourth .fourthContent {
    position: absolute;
    bottom: 9.6875rem;
    margin-bottom: -1.5625rem; }
    .mainPageWrapper .mainPageFourth .fourthContent h1 {
      line-height: 1.2;
      margin-bottom: 1.5625rem; }
    .mainPageWrapper .mainPageFourth .fourthContent .text {
      font-size: 0.75rem;
      line-height: 1.9;
      width: 19.375rem;
      margin-bottom: 2.5rem; }
    .mainPageWrapper .mainPageFourth .fourthContent .greenBtn {
      float: left;
      position: relative;
      z-index: 1; }
  .mainPageWrapper .mainPageFifth {
    overflow: hidden; }
    .mainPageWrapper .mainPageFifth .backgrounds {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%; }
      .mainPageWrapper .mainPageFifth .backgrounds .gradient {
        width: 100%;
        height: 21.875rem;
        position: relative;
        background-color: #f4f1e2;
        background-image: -webkit-linear-gradient(#f4f1e2, #f4f1e2, #f5f2e4, #f5f2e3, #f4f1e6);
        background-image: linear-gradient(#f4f1e2, #f4f1e2, #f5f2e4, #f5f2e3, #f4f1e6); }
      .mainPageWrapper .mainPageFifth .backgrounds .baseboard {
        position: relative;
        margin: -15px auto 0;
        width: 100%;
        background: url("/img/baseboard.png") repeat-x;
        height: 112px; }
      .mainPageWrapper .mainPageFifth .backgrounds .wood {
        width: 100%;
        max-width: 2295px;
        height: 161px;
        position: relative;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("/img/mainWoodBackground.png"); }
    .mainPageWrapper .mainPageFifth .content {
      width: 1024px;
      margin: 0 auto;
      height: 100%; }
      .mainPageWrapper .mainPageFifth .content .bx-wrapper {
        height: 100%; }
        .mainPageWrapper .mainPageFifth .content .bx-wrapper .bx-viewport {
          height: 100%; }
      .mainPageWrapper .mainPageFifth .content .bx-controls-direction button {
        color: #b4af9a;
        -webkit-transition: color 150ms ease-in-out 0s, -webkit-transform 150ms ease-in-out 0s;
        -moz-transition: color 150ms ease-in-out 0s, -moz-transform 150ms ease-in-out 0s;
        transition: color 150ms ease-in-out 0s, transform 150ms ease-in-out 0s; }
        .mainPageWrapper .mainPageFifth .content .bx-controls-direction button:hover {
          color: #006935;
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2); }
      .mainPageWrapper .mainPageFifth .content .bx-next {
        right: -5rem; }
      .mainPageWrapper .mainPageFifth .content .bx-prev {
        left: -5rem; }
      .mainPageWrapper .mainPageFifth .content .leftColumn {
        width: 50%;
        height: 100%;
        float: left; }
      .mainPageWrapper .mainPageFifth .content .rightColumn {
        width: 26.5625rem;
        float: right;
        height: 100%; }
      .mainPageWrapper .mainPageFifth .content .products {
        height: 100%; }
        .mainPageWrapper .mainPageFifth .content .products .productItem {
          height: 100%; }
          .mainPageWrapper .mainPageFifth .content .products .productItem .greenBtn {
            z-index: 1;
            float: left;
            position: relative; }
      .mainPageWrapper .mainPageFifth .content .image {
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("/img/mainProducts.png"); }
      .mainPageWrapper .mainPageFifth .content .innerContent {
        color: #333333;
        line-height: 1.4;
        margin-top: 5.625rem; }
        .mainPageWrapper .mainPageFifth .content .innerContent h1 {
          line-height: 1.2;
          margin-bottom: 2.1875rem; }
        .mainPageWrapper .mainPageFifth .content .innerContent h3 {
          font-weight: normal;
          font-size: 1.125rem;
          margin-bottom: 0.625rem;
          color: #048445; }
        .mainPageWrapper .mainPageFifth .content .innerContent .text {
          font-size: 0.75rem;
          line-height: 1.6;
          width: 75%;
          margin-bottom: 2.1875rem; }
  .mainPageWrapper .contacts {
    position: relative;
    width: 100%;
    height: 13.125rem;
    background-image: url("/img/mainContactsBg.jpg"); }
    .mainPageWrapper .contacts .topStripe {
      width: 100%;
      height: 1.625rem;
      position: relative;
      overflow: hidden; }
      .mainPageWrapper .contacts .topStripe .curve {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -7.90625rem;
        width: 15.8125rem;
        height: 100%;
        background-image: url("/img/mainContactsCurve.png"); }
        .mainPageWrapper .contacts .topStripe .curve .leftStripe {
          position: absolute;
          width: 9999px;
          background: #ffffff;
          right: 15.8125rem;
          height: 100%; }
        .mainPageWrapper .contacts .topStripe .curve .rightStripe {
          position: absolute;
          width: 9999px;
          background: #ffffff;
          left: 15.8125rem;
          height: 100%; }
    .mainPageWrapper .contacts .whiteBtn {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 1;
      top: 10px; }

.mainPageWrapper .mainPageFirst .content .catImage, .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout, .mainPageWrapper .mainPageSecond .label, .mainPageWrapper .mainPageSecond .label .arrow, .mainPageWrapper .mainPageThird .leftColumn .image, .mainPageWrapper .mainPageThird .leftColumn .image .nutrimentSmall, .mainPageWrapper .mainPageThird .leftColumn .nutriment, .mainPageWrapper .mainPageThird .rightColumn .nutrimentSmall.fruitRight, .mainPageWrapper .contacts, .mainPageWrapper .contacts .topStripe .curve {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

#sp-immunity {
  line-height: 20px; }
  #sp-immunity .mainPageFirst {
    height: 319px;
    overflow: visible; }
    #sp-immunity .mainPageFirst .gradient {
      background: url("/img/immunity/gradient.jpg") repeat-x center;
      height: 206px; }
    #sp-immunity .mainPageFirst .baseboard {
      background: url("/img/immunity/baseboard.png") repeat-x center;
      height: 67px; }
    #sp-immunity .mainPageFirst .wood {
      background: url("/img/immunity/wood.jpg") repeat-x center;
      height: 61px;
      max-width: none; }
    #sp-immunity .mainPageFirst .cat_mix {
      font-family: 'PT_Sans_Regular';
      padding: 72px 55px 0 79px; }
  #sp-immunity .cat_thief {
    z-index: 10; }
    #sp-immunity .cat_thief .content:before {
      position: absolute;
      content: "";
      -webkit-box-shadow: 0 0 0 transparent;
      -moz-box-shadow: 0 0 0 transparent;
      box-shadow: 0 0 0 transparent;
      background: url("/img/immunity/cat_thief.png") no-repeat;
      width: 374px;
      height: 470px;
      left: 62px;
      top: -171px;
      z-index: 10; }
  #sp-immunity .meal_table {
    background-color: #f4f1e2;
    height: 799px;
    overflow: hidden;
    position: relative; }
    #sp-immunity .meal_table .slider_container {
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      -moz-border-radius: 99999em;
      -webkit-border-radius: 99999em;
      -khtml-border-radius: 99999em;
      border-radius: 99999em;
      width: 500px;
      bottom: 78px;
      background-color: #ede0c5;
      height: 17px;
      z-index: 10;
      padding: 0 69px 0 4px; }
    #sp-immunity .meal_table .slider {
      height: 17px; }
    #sp-immunity .meal_table .ui-slider-handle {
      -moz-border-radius: 99999em;
      -webkit-border-radius: 99999em;
      -khtml-border-radius: 99999em;
      border-radius: 99999em;
      height: 11px;
      background: url("/img/immunity/slider_handle_bg.png") repeat-x;
      width: 65px;
      margin: 8px 0; }
  #sp-immunity .meal_content {
    position: relative;
    height: 100%; }
    #sp-immunity .meal_content .popup {
      z-index: 20; }
      #sp-immunity .meal_content .popup .closedLogo {
        background-color: #048445; }
      #sp-immunity .meal_content .popup .popupClose {
        background-color: #048445;
        width: 50px;
        height: 50px;
        margin-left: -25px;
        margin-top: -25px; }
      #sp-immunity .meal_content .popup .popupText {
        background-color: #048445;
        bottom: -300px;
        height: 408px;
        left: -15px;
        width: 408px;
        text-align: left; }
        #sp-immunity .meal_content .popup .popupText .title {
          font-size: 24px;
          line-height: 24px;
          color: #d0f1e1;
          font-family: 'Open Sans', sans-serif;
          font-weight: bold;
          line-height: 30px; }
        #sp-immunity .meal_content .popup .popupText .text {
          font-size: 14px;
          line-height: 20px;
          margin-top: 30px; }
      #sp-immunity .meal_content .popup .popupTextWrapper {
        padding: 76px; }
      #sp-immunity .meal_content .popup.raisins {
        top: 380px;
        left: 115px; }
      #sp-immunity .meal_content .popup.air {
        bottom: 240px;
        left: 350px; }
      #sp-immunity .meal_content .popup.meat {
        top: 150px;
        left: 390px; }
      #sp-immunity .meal_content .popup.cranberries {
        top: 310px;
        left: 625px; }
      #sp-immunity .meal_content .popup.probiotics {
        bottom: 190px;
        left: 705px; }
      #sp-immunity .meal_content .popup.linen {
        top: 30px;
        left: 755px; }
      #sp-immunity .meal_content .popup.ginseng {
        bottom: 280px;
        left: 940px; }
      #sp-immunity .meal_content .popup.thyme {
        top: 310px;
        left: 1030px; }
      #sp-immunity .meal_content .popup.yeast {
        top: 90px;
        left: 1085px; }
  #sp-immunity .does_not_contain {
    height: 345px;
    background-color: #f4f1e2;
    padding: 104px 0 0;
    text-align: center;
    font-size: 14px; }
    #sp-immunity .does_not_contain .contain_block {
      display: inline-block;
      vertical-align: top;
      width: 134px;
      margin: 0 77px; }
    #sp-immunity .does_not_contain img {
      margin-bottom: 16px; }
  #sp-immunity .bottom {
    height: 450px;
    background-color: #f9f7ef; }
    #sp-immunity .bottom .right {
      padding: 113px 0 0; }
    #sp-immunity .bottom .content {
      width: 1024px;
      margin: 0 auto;
      height: 100%; }
    #sp-immunity .bottom .desc {
      width: 340px;
      font-size: 14px;
      padding: 0 10px;
      font-family: 'PT_Sans_Regular';
      text-align: center;
      position: relative;
      z-index: 20; }
    #sp-immunity .bottom .button_container {
      position: absolute;
      left: 44px;
      bottom: 73px; }
    #sp-immunity .bottom .greenBtn {
      float: left;
      position: relative;
      z-index: 1;
      font-size: 22px;
      height: 69px; }
      #sp-immunity .bottom .greenBtn:before {
        position: absolute;
        content: "";
        background: url("/img/immunity/cat_button.png") no-repeat;
        width: 529px;
        height: 309px;
        bottom: -73px;
        right: -190px;
        z-index: 5;
        right: 60px; }
      #sp-immunity .bottom .greenBtn .btnBackground {
        z-index: 1; }
      #sp-immunity .bottom .greenBtn .adorable_table {
        z-index: 10; }

.mainPageWrapper .mainPageFirst .content .catImage, .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout, .mainPageWrapper .mainPageSecond .label, .mainPageWrapper .mainPageSecond .label .arrow, .mainPageWrapper .mainPageThird .leftColumn .image, .mainPageWrapper .mainPageThird .leftColumn .image .nutrimentSmall, .mainPageWrapper .mainPageThird .leftColumn .nutriment, .mainPageWrapper .mainPageThird .rightColumn .nutrimentSmall.fruitRight, .mainPageWrapper .contacts, .mainPageWrapper .contacts .topStripe .curve {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

#sp-catalog {
  line-height: 20px; }
  #sp-catalog .icon {
    position: absolute;
    width: 66px;
    height: 77px;
    right: 0;
    cursor: pointer; }
    #sp-catalog .icon:before {
      position: absolute;
      content: "";
      width: 73px;
      height: 90px;
      background: url("/img/catalog/inactive_icon.png") no-repeat;
      bottom: -8px;
      right: 0;
      z-index: 1; }
    #sp-catalog .icon.dry_food {
      top: 502px; }
      #sp-catalog .icon.dry_food:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: url("/img/catalog/dry_food.png") no-repeat; }
      #sp-catalog .icon.dry_food.active:before {
        width: 89px;
        height: 103px;
        background: url("/img/catalog/dry_food_active.png") no-repeat; }
    #sp-catalog .icon.pauchi {
      top: 609px; }
      #sp-catalog .icon.pauchi:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: url("/img/catalog/pauchi.png") no-repeat; }
      #sp-catalog .icon.pauchi.active:before {
        width: 91px;
        height: 92px;
        background: url("/img/catalog/pauchi_active.png") no-repeat; }
    #sp-catalog .icon.for_kittens {
      top: 715px; }
      #sp-catalog .icon.for_kittens:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: url("/img/catalog/for_kittens.png") no-repeat; }
      #sp-catalog .icon.for_kittens.active:before {
        width: 92px;
        height: 102px;
        background: url("/img/catalog/for_kittens_active.png") no-repeat; }
  #sp-catalog .mainPageFirst {
    height: 322px;
    overflow: visible; }
    #sp-catalog .mainPageFirst .gradient {
      background: url("/img/immunity/gradient.jpg") repeat-x center;
      height: 131px; }
    #sp-catalog .mainPageFirst .baseboard {
      background: url("/img/immunity/baseboard.png") repeat-x center;
      height: 67px; }
    #sp-catalog .mainPageFirst .wood {
      background: url("/img/catalog/wood.jpg") repeat-x center;
      height: 139px;
      max-width: none; }
    #sp-catalog .mainPageFirst .food {
      position: absolute;
      left: 0;
      width: 94px;
      height: 119px;
      top: 130px;
      background: url("/img/catalog/topper_food.png") no-repeat; }
    #sp-catalog .mainPageFirst .glow {
      background: url("/img/catalog/topper_glow.png") no-repeat scroll 0 0 transparent;
      height: 279px;
      left: 624px;
      position: absolute;
      top: 30px;
      width: 551px;
      z-index: 10; }
    #sp-catalog .mainPageFirst .cat_uniq {
      font-family: 'PT_Sans_Regular';
      padding: 96px 42px 0 107px; }
  #sp-catalog .cat_playable {
    z-index: 10; }
    #sp-catalog .cat_playable .content:before {
      position: absolute;
      content: "";
      -webkit-box-shadow: 0 0 0 transparent;
      -moz-box-shadow: 0 0 0 transparent;
      box-shadow: 0 0 0 transparent;
      background: url("/img/immunity/cat_thief.png") no-repeat;
      width: 374px;
      height: 470px;
      left: 62px;
      top: -171px;
      z-index: 10; }
  #sp-catalog .product {
    background-color: #f4f1e2; }
    #sp-catalog .product:nth-child(2n) .product_image {
      float: right; }
    #sp-catalog .product.active .more_info {
      display: block; }
    #sp-catalog .product.active .greenBtn {
      background-color: #048445; }
      #sp-catalog .product.active .greenBtn:after {
        content: 'Закрыть'; }
    #sp-catalog .product.active .btnBackground {
      background-color: #048445; }
    #sp-catalog .product > .content {
      height: 500px; }
    #sp-catalog .product .content {
      width: 1024px;
      margin: 0 auto; }
    #sp-catalog .product .product_image:before {
      position: absolute;
      content: "";
      z-index: 1;
      width: 507px;
      height: 315px;
      background: url("/img/catalog/product_image_before.png") no-repeat;
      left: 0;
      bottom: 0; }
    #sp-catalog .product .product_image img {
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      max-width: 510px;
      max-height: 450px;
      position: absolute;
      bottom: 50px;
      z-index: 2; }
    #sp-catalog .product .product_text {
      padding: 104px 86px 50px; }
    #sp-catalog .product .product_top_title {
      color: #048445;
      font-size: 18px;
      line-height: 25px;
      font-family: 'Open Sans', sans-serif; }
    #sp-catalog .product .product_title {
      color: #048445;
      font-size: 30px;
      line-height: 30px;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 18px; }
    #sp-catalog .product .product_desc {
      font-family: 'PT_Sans_Regular';
      margin-top: 29px; }
    #sp-catalog .product .button_container {
      position: absolute;
      left: 83px;
      bottom: 50px; }
    #sp-catalog .product .greenBtn {
      float: left;
      position: relative;
      z-index: 1;
      font-size: 17px;
      height: 49px;
      padding: 0 41px;
      width: 181px; }
      #sp-catalog .product .greenBtn:after {
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        content: 'Подробнее';
        top: 50%;
        z-index: 2;
        left: 50%; }
      #sp-catalog .product .greenBtn .btnBackground {
        z-index: 1; }
      #sp-catalog .product .greenBtn .adorable_table {
        z-index: 10; }
    #sp-catalog .product .more_info {
      display: none;
      background-color: #048445;
      margin-top: -67px;
      position: relative;
      z-index: 2;
      font-size: 14px;
      font-family: 'segoe_ui';
      color: #ffffff; }
      #sp-catalog .product .more_info > .content {
        clear: both; }
        #sp-catalog .product .more_info > .content .left {
          padding: 0 0 30px 86px; }
        #sp-catalog .product .more_info > .content .right {
          padding: 0 86px 30px; }
      #sp-catalog .product .more_info .footer {
        clear: both;
        color: #9be7b6;
        height: 76px;
        background-color: #0b9a54;
        font-size: 12px; }
      #sp-catalog .product .more_info .adorable_cell {
        padding: 0 86px;
        text-align: left; }
      #sp-catalog .product .more_info .composition {
        color: #9cedc5;
        text-transform: uppercase;
        font-family: 'segoe_ui_bold'; }
      #sp-catalog .product .more_info .composition_text {
        margin-top: 20px; }
      #sp-catalog .product .more_info .value {
        color: #9cedc5;
        text-transform: uppercase;
        font-family: 'segoe_ui_bold';
        margin-top: 34px; }
      #sp-catalog .product .more_info .value_text {
        margin-top: 17px; }
      #sp-catalog .product .more_info .value_item {
        margin-top: 7px;
        float: left; }
        #sp-catalog .product .more_info .value_item:nth-child(2n) {
          width: 166px; }
        #sp-catalog .product .more_info .value_item:nth-child(2n+1) {
          width: 260px; }
      #sp-catalog .product .more_info .packages {
        clear: both;
        padding-top: 30px; }
      #sp-catalog .product .more_info .packages_title {
        float: left;
        font-family: 'segoe_ui_bold';
        width: 104px;
        text-transform: uppercase;
        margin-top: 6px; }
      #sp-catalog .product .more_info .package_item {
        float: left;
        width: 47px; }
        #sp-catalog .product .more_info .package_item:not(:first-child) {
          margin-left: 40px; }
        #sp-catalog .product .more_info .package_item.small {
          width: 44px; }
          #sp-catalog .product .more_info .package_item.small img {
            width: 35px;
            height: 51px; }
      #sp-catalog .product .more_info .package_image {
        height: 69px;
        position: relative; }
        #sp-catalog .product .more_info .package_image img {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 47px;
          height: 69px; }
      #sp-catalog .product .more_info .package_label {
        text-align: right;
        font-size: 18px;
        line-height: 18px;
        font-family: 'segoe_ui_bold';
        margin-top: 10px; }
      #sp-catalog .product .more_info .doze {
        color: #9cedc5;
        text-transform: uppercase;
        font-family: 'segoe_ui_bold'; }
      #sp-catalog .product .more_info .doze_table {
        border: 1px solid #ffffff;
        width: 327px;
        border-collapse: collapse;
        margin-top: 18px; }
        #sp-catalog .product .more_info .doze_table tr, #sp-catalog .product .more_info .doze_table td {
          border: 1px solid #ffffff;
          text-align: center; }
        #sp-catalog .product .more_info .doze_table td {
          padding: 12px; }
          #sp-catalog .product .more_info .doze_table td:nth-child(2n +1) {
            width: 141px; }
      #sp-catalog .product .more_info .doze_info {
        margin-top: 40px; }
      #sp-catalog .product .more_info .doze_info_image {
        float: left;
        margin-top: 4px; }
      #sp-catalog .product .more_info .doze_info_text {
        float: left;
        margin-left: 11px;
        width: 287px; }

.mainPageWrapper .mainPageFirst .content .catImage, .mainPageWrapper .mainPageFirst .catsKeepSilenceAbout, .mainPageWrapper .mainPageSecond .label, .mainPageWrapper .mainPageSecond .label .arrow, .mainPageWrapper .mainPageThird .leftColumn .image, .mainPageWrapper .mainPageThird .leftColumn .image .nutrimentSmall, .mainPageWrapper .mainPageThird .leftColumn .nutriment, .mainPageWrapper .mainPageThird .rightColumn .nutrimentSmall.fruitRight, .mainPageWrapper .contacts, .mainPageWrapper .contacts .topStripe .curve {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.contact-form {
  float: right;
  width: 612px;
  height: 330px;
  margin-top: 70px; }
  .contact-form .form-title {
    width: 100%;
    height: 25px; }
    .contact-form .form-title p {
      text-align: left;
      font-size: 30px;
      color: #006633; }
  .contact-form input, .contact-form textarea {
    width: 293px;
    border-radius: 10px;
    border: #c4df9b 2px solid; }
  .contact-form input {
    margin-top: 35px;
    height: 43px; }
  .contact-form textarea {
    margin-top: 23px;
    height: 114px; }
  .contact-form button {
    float: right;
    width: 192px;
    height: 51px;
    margin-right: 3px;
    border-radius: 30px;
    background-color: #3c880a;
    color: #ffffff; }
    .contact-form button:hover {
      cursor: pointer; }
  .contact-form .form-part-left {
    float: left;
    width: 51.4%;
    height: 78.6%; }
  .contact-form .form-part-right {
    float: right;
    width: 48.6%;
    height: 78.6%; }
    .contact-form .form-part-right .form-captcha {
      margin-top: 23px;
      width: 293px;
      height: 114px;
      border-radius: 10px;
      border: #c4df9b 2px solid;
      background-color: #ffffff; }

.address-info {
  height: 305px; }

/*# sourceMappingURL=simplePage.css.map */
