@charset "UTF-8";
@import '../../../../../../../../css/bourbon/_bourbon.scss';
@import '../../../../../../../../css/base/_placeholders.scss';
@import '../../../../../../../../css/base/_variables.scss';
@import '../../../../../../../../css/base/_mixins.scss';

.bg-block {
	height: rem(538) !important;
}

.bg-gradient {
	height: rem(206) !important;
}

.strip-color {
	background-color: #edf6ec !important;
}

.curve-contact {
	$width: rem(253);

	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -$width/2;
	width: rem(253);
	height: 100%;

	@extend %bg-image-cover;
	background-image: url('#{$imgPath}contactContactsCurve.png');

	.leftStr, .rightStr {
		background-color: #edf6ec;
		position: absolute;
		width: 9999px;
		height: 100%;
	}

	.rightStr {
		right: $width;
	}

	.leftStr {
		left: $width;
	}
}

.contact-form {
	float: right;
	width: 612px;
	height: 330px;
	margin-top: 70px;

	.form-title {
		width: 100%;

		p {
			text-align: left;
			font-size: 30px;
			font-family: "Open Sans";
			font-weight: bold;
			color: #006633;
		}
	}

	input, textarea {
		padding: 15px;
		width: 293px;
		border-radius: 10px;
		border: #c4df9b 2px solid;
		@include placeholder {
			color: #006633;
		}
	}

	input {
		margin-top: 35px;
		height: 43px;
	}

	textarea {
		margin-top: 23px;
		height: 114px;
	}

	button {
		float: right;
		width: 192px;
		height: 51px;
		margin-right: 3px;
		border-radius: 30px;
		background-color: #3c880a;
		color: #ffffff;
		font-family: "Open Sans";
		font-weight: bold;
		font-size: 16px;

		&:hover {
			cursor: pointer;
		}
	}

	.form-part-left {
		float: left;
		width: 51.4%;
		height: 78.6%;
	}

	.form-part-right {
		float: right;
		width: 48.6%;
		height: 78.6%;

		.form-captcha {
			margin-top: 23px;
			width: 293px;
			height: 114px;
			border-radius: 10px;
			border: #c4df9b 2px solid;
			background-color: #ffffff;
		}
	}
}

.bg-contact-cat {
	z-index: 1;
	position: absolute;
	width: 1052px;
	height: 482px;
	background: url('#{$imgPath}cat-contact.png') no-repeat top;
	background-size: 100% 100%;
}

.bg-address {
	background-color: #edf6ec;
}

.content-address {
	width: $siteWidth;
	margin: 0 auto;
	height: 100%;

	.address-info {
		position: relative;
		width: 100%;
		height: 305px;
		padding-left: 70px;
		padding-top: 67px;

		&:before {
			content: '';
			display: block;
			width: 160px;
			height: 29px;
			position: absolute;
			top: 0;
			left: 42%;
			background-image: url('#{$imgPath}inset-white-green.jpg');
			background-size: 100% 100%;
		}

		.address-title {
			position: absolute;
			top: 25px;
			left: 70px;

			p {
				font-family: "Open Sans";
				font-weight: bold;
				font-size: 30px;
				color: #006633;
			}
		}

		.text-gray, .text-green  {
			line-height: 22px;
			font-size: 14px;
			font-family: PT_Sans_Regular;
		}

		.text-gray  {
			color: #666666;
		}

		.text-green {
			color: #006633;
		}

		.address-line-1 {
			float: left;
			width: 343px;
			height: 100%;
		}

		.address-line-2 {
			float: left;
			width: 312px;
			height: 100%;
		}

		.address-line-3 {
			float: left;
			width: 268px;
			height: 100%;
		}
	}
}
